@charset "utf-8";
/* CSS Document © Copyright 2011, All rights reserved
   This sheet sets the aspect of HWDMediaShare thumbnails */
/**********************************************************************************************/
#hwd-container .media-item {
        overflow: hidden;
}
#hwd-container .media-item img.media-thumb {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
}
#hwd-container .media-aspect0, #hwd-container .media-aspect43 {
        padding-top: 75%; /* 4:3 aspect ratio */
        background: #000;
        z-index: 1;
}
#hwd-container .media-aspect169 {
        padding-top: 56%; /* 16:9 aspect ratio */
        background: #000;
        z-index: 1;
}
#hwd-container .media-aspect11 {
        padding-top: 100%; /* 1:1 aspect ratio */
        background: #000;
        z-index: 1;
}
#hwd-container .media-item .media-nav, #hwd-container .media-duration, #hwd-container .media-item-format-1-0, #hwd-container .media-item-format-1-1, #hwd-container .media-item-format-1-2, #hwd-container .media-item-format-1-3, #hwd-container .media-item-format-1-4, #hwd-container .media-item-format-2, #hwd-container .media-item-format-2-2, #hwd-container .media-item-format-3, #hwd-container .media-item-format-4, #hwd-container .media-item-format-5, #hwd-container .media-item-format-6 {
        z-index: 3;
}

