/*
#------------------------------------------------------------------------
# Publisher - November Joomla! template (for Joomla 2.5)
#
# Copyright (C) 2007-2012 Gavick.com. All Rights Reserved.
# License:  Copyrighted Commercial Software
# Website:  http://www.gavick.com
# Support:  support@gavick.com
 */
 
/* Style 1 */

/* template.css */
body {
	background: #1a1a1a;
}
a {
	color: #c75f2c;
}
a:hover,
a:active,
a:focus {
	color: #111;
}
#gkPageWrap {
	background: #f0f0f0;
}
#gkPageTopBar {
	background: #222;
}
#gkPageTopBar > div {
	background: transparent;
	margin-bottom: 0!important;
	padding-bottom: 0;
}
#gkPageLogo {
	background: #fff;
	border-bottom: 1px solid #e9e8e7;
	margin-bottom: 44px!important;
}
.gkRSS,
.gkTwitter,
.gkFb,
.gkGplus {
	background-image: url('../images/style3/social_icons.png');	
}
#gkSocial {
	margin-left: 0;
}
#gkUserArea {
	margin-right: 0;
}
#gkTopBanner {
	color: #777;
	font-style: normal;
}
#gkLogin {
	color: #777;
}
#gkLogin:active,
#gkLogin:focus,
#gkLogin:hover {
	color: #c75f2c;
}
#gkRegister {
	color: #c75f2c;
}
#gkRegister:active,
#gkRegister:focus,
#gkRegister:hover {
	color: #777;
}
#gkLogin + #gkRegister::before {
	border-left: 1px solid #525252;
	border-right: 1px solid #2e2e2e;
}
#gkLogo {
	width: 240px;
}
#gkLogo.cssLogo {
	background: transparent url('../images/style3/logo.png') no-repeat 0 0;
}
#gkContent {
	border: 1px solid #e9e8e7;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	margin-top: 0!important;
	padding-top: 30px!important;
}
#gkContent::before {
	display: none;
}
#gkTop1,
#gkTop2,
#gkBottom1 {
	background: #fff;
	border: 1px solid #e9e8e7;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	padding-top: 20px;
}
#gkBreadcrumb > div {
	background: transparent;
	border-bottom: 1px solid #ededed;
}
#gkBottom2 {
	background: #222;
	margin-bottom: 0!important;
}
#gkBottom2 .header {
	color: #dfdfdf;
}
#gkBottom2 a {
	color: #d5d5d5;
}
#gkBottom2 a:active,
#gkBottom2 a:focus,
#gkBottom2 a:hover {
	color: #fff;
}
#gkBottom2 li {
	border-top: 1px solid #444;
}
#gkBottom2 li:first-child {
	border-top: none;
} 
#gkFooter {
	border-top: none;
	color: #565656;
	padding-top: 10px;
}
#gkFooter a {
	color: #989898;
}
#gkFooter a:active,
#gkFooter a:focus,
#gkFooter a:hover {
	color: #fff;
}
#gkSidebar .box {
	background: #fff;
	border: 1px solid #e9e8e7;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
}
#gkSidebar .box.dark {
	background: #222!important;
	border: 1px solid #3e3e3e;
	color: #aaa;
}
#gkSidebar .box.dark ul li {
	border-top: 1px solid #4e4e4e;
}
#gkSidebar .box.dark a {
	color: #a4a4a4;
}
#gkSidebar .box.dark a:active,
#gkSidebar .box.dark a:focus,
#gkSidebar .box.dark a:hover {
	color: #c75f2c;
}
.box.color .header {
	color: #c75f2c;
}
#gkMainbodyTop + #gkMainbody,
#gkContent > section + #gkMainbodyBottom {
	background: transparent;
	border-top: 1px solid #ededed;
}
#login-form ul {
	background: transparent;
	border-top: 1px solid #ededed;
}
.gkUsermenu {
	background: transparent;
	border-top: 1px solid #444;
}
.box.clear,
.box.transparent {
	border: none!important;
}

/* joomla.css */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"] {
    border: 1px solid #d9d6d0;
}
button,
.button,
input.button,
span.button,
button.button,
div.button,
input[type="submit"],
input[type="button"],
.pagenav-prev a,
.pagenav-next a,
.readon,
.pagination ul li a,
.pagination ul li span {
    background: #333;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
button:hover,
.button:hover,
input.button:hover,
span.button:hover,
button.button:hover,
div.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.pagenav-prev a:hover,
.pagenav-next a:hover,
.readon:hover,
.pagination span.pagenav,
.pagination ul li a:hover,
.pagination ul li span:hover {
    background: #c75f2c;
}
section.categories-list li > a,
section.category .children li > a,
section.blog .children li > a {    
	color: #c75f2c; 
}
section.categories-list li > a:hover,
section.category .children li > a:hover,
section.blog .children li > a:hover {   
	color: #363636; 
}
th {
	background: transparent;
	border-bottom: 1px solid #ededed;
    color: #c75f2c;
}
th a {    
	color: #c75f2c; 
}
th a:active,
th a:focus,
th a:hover {    
	color: #111; 
}
section.blog article { 
	background: transparent;
	border-bottom: 1px solid #ededed;
}
article > time {
	background: #c75f2c;
	font-size: 26px;
	font-weight: 600;
	height: auto;
	left: -111px;
	line-height: 27px;
	padding: 14px 0 16px 0;
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
	width: 71px;
}
article > time:first-line {
	font-size: 40px;
	line-height: 46px;
}
article > time + section header {
	padding-left: 0;
}
article header h1 a:hover,
article header h2 a:hover {
	color: #c75f2c;
}
p.img_caption {
    background: #f7683a;
}
section.login ul {
	background: transparent;
	border-top: 1px solid #ededed;
}
.profile legend,
.profile-edit legend {
	background: transparent;
	border-bottom: 1px solid #ededed;
}
.contact-image {
    background: transparent;
    border: 1px solid #ededed;
}
.contact h3 {
	background: transparent;
	border-top: 1px solid #ededed;
}
section.newsfeed > ol > li {
    background: transparent;
    border-top: 1px solid #ededed;
}
.tip-title {
    background: #c75f2c;
}
#system-message dd {
    color: #fff;
}
#system-message dd.error {
    color: #c75f2c;
}
#system-message dd.notice {
    color: #ccc;
}
div.banneritem {
    background: transparent;
    border-top: 1px solid #ededed;
}
div.bannerfooter {
    background: transparent;
    border-top: 1px solid #ededed;
    color: #c75f2c;
}
#gkSocialAPI {
   	background: transparent;
   	border-top: 1px solid #ededed;
}
.search-results dt {
	background: transparent;
	border-top: 1px solid #ededed;
}
.autocompleter-queried {    color: #c75f2c!important; }
.img-intro-left,
.img-intro-right,
.img-intro-center,
.img-intro-none,
.img-fulltext-left,
.img-fulltext-right,
.img-fulltext-center,
.img-fulltext-none {
	background: transparent;
	border: 1px solid #ededed;
}
article section > ul li { 
	background: url("../images/style3/typography/bullet1.png") no-repeat 0 6px !important; 
	padding: 2px 0 2px 28px;
}

/* gk_stuff.css */
.nspPagination li {
    background: #e0e0e0;
}
.nspPagination li:hover,
.nspPagination li.active { 
	background: #c75f2c; 
}
.nspNext,
.nspPrev {
    background-image: url('../images/style3/nsp_interface.png');
}
.nspArt h4.nspHeader a:active,
.nspArt h4.nspHeader a:focus,
.nspArt h4.nspHeader a:hover { color: #c75f2c }
.nspArt img.nspImage {
	background: transparent;
	border: 1px solid #ededed;
}
.nspArt p.nspText {
    color: #666;
}
.nspArt p.nspInfo {
    color: #999;
}
.nspArt p.nspInfo a {
    color: #999;
}
.nspArt p.nspInfo a:active,
.nspArt p.nspInfo a:focus,
.nspArt p.nspInfo a:hover { color: #c75f2c }
.nspLinks ul li {
    background: transparent;
    border-top: 1px solid #ededed;
}
.nspLinks ul li h4 a:active,
.nspLinks ul li h4 a:focus,
.nspLinks ul li h4 a:hover {
	color: #c75f2c;
}
.dark .nspArt img.nspImage,
#gkBottom2 .nspArt img.nspImage {
    border: 1px solid #4f4f4f;
}
.dark .nspArt p.nspText,
#gkBottom2 .nspArt p.nspText { 
	color: #999; 
}
.dark .nspArt p.nspInfo,
#gkBottom2 .nspArt p.nspInfo { 
	color: #999; 
}
.dark .nspArt p.nspInfo a { color: #d5d5d5 }
.dark .nspArt p.nspInfo a:active,
.dark .nspArt p.nspInfo a:focus,
.dark .nspArt p.nspInfo a:hover,
#gkBottom2 .nspArt p.nspInfo a:active,
#gkBottom2 .nspArt p.nspInfo a:focus,
#gkBottom2 .nspArt p.nspInfo a:hover { 
	color: #c75f2c; 
}
.dark .nspLinks ul li h4 a,
#gkBottom2 .nspLinks ul li h4 a { 
	color: #c75f2c; 
}
.dark .nspLinks ul li h4 a:active,
.dark .nspLinks ul li h4 a:focus,
.dark .nspLinks ul li h4 a:hover,
#gkBottom2 .nspLinks ul li h4 a:active,
#gkBottom2 .nspLinks ul li h4 a:focus,
#gkBottom2 .nspLinks ul li h4 a:hover { 
	color: #d5d5d5;  
}
.dark .nspLinks ul li, 
#gkBottom2 .nspLinks ul li {
    border-top: 1px solid #4f4f4f;
}
.dark .nspArt h4.nspHeader a,
#gkBottom2 .nspArt h4.nspHeader a { 
	color: #c75f2c; 
}
.dark .nspArt h4.nspHeader a:active,
.dark .nspArt h4.nspHeader a:focus,
.dark .nspArt h4.nspHeader a:hover,
#gkBottom2 .nspArt h4.nspHeader a:active,
#gkBottom2 .nspArt h4.nspHeader a:focus,
#gkBottom2 .nspArt h4.nspHeader a:hover { 
	color: #d5d5d5; 
}
.dark .nspPagination li,
#gkBottom2 .nspPagination li { 
	background: #646464; 
}
.dark .nspPagination li:hover,
.dark .nspPagination li.active,
#gkBottom2 .nspPagination li:hover,
#gkBottom2 .nspPagination li.active { 
	background: #c75f2c; 
}
.gkIsWrapper-gk_publisher .gkIsPreloader {
	background: #c75f2c url('../images/style3/loader.gif') no-repeat center center;
}
.gkIsWrapper-gk_publisher figcaption {
	background: #222;
}
.gkIsWrapper-gk_publisher figcaption:hover {
	background: #444;
}
.gkIsWrapper-gk_publisher figcaption h3 a {
	color: #fff;
}
.gkIsWrapper-gk_publisher figcaption p {
	color: #9f9f9f;
}
.gkIsWrapper-gk_publisher figcaption a {
	color: #9f9f9f;
}
.gkIsWrapper-gk_publisher figcaption a:active,
.gkIsWrapper-gk_publisher figcaption a:focus,
.gkIsWrapper-gk_publisher figcaption a:hover {
	color: #fff;
}
.gkIsWrapper-gk_publisher ol li {
	background: #565656;
}
.gkIsWrapper-gk_publisher ol li:hover,
.gkIsWrapper-gk_publisher ol li.active {
	background: #c75f2c;
} 
div.gkTweet {
    color: #888;
}
div.gkTweet > div {
    border-top: 1px solid #444;
}
span.gkTweetName small {
    color: #a3a3a3;
}
div.gkTweet > div > span.gkTweetInfo {
    color: #c75f2c;
}
div.gkTweet > div > span.gkTweetInfo a {
    background: url('../images/twitterSprite.png') no-repeat 0 -1px transparent;
    color: #999;
}
div.gkTweet > div > span.gkTweetInfo a:active,
div.gkTweet > div > span.gkTweetInfo a:focus,
div.gkTweet > div > span.gkTweetInfo a:hover {
	color: #fff;
}

/* menu.css */
.gkMenu {
	margin-top: 15px;
}
.gkMenu > ul {
	height: 60px;
}
.gkMenu > ul > li > a {
	background: transparent;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	padding: 0 10px;
	text-transform: none;
}
.gkMenu > ul > li:hover > a,
.gkMenu > ul > li:active > a,
.gkMenu > ul > li:focus > a,
.gkMenu > ul > li.active:hover > a,
.gkMenu > ul > li.active:active > a,
.gkMenu > ul > li.active:focus > a,
.gkMenu > ul > li.active > a {
	background: transparent;
	color: #c75f2c;
}
.gkMenu > ul > li > div.childcontent::before {
	background: transparent url('../images/style3/submenu_bg.png') no-repeat left top;
	content: "";
	display: block;
	height: 7px;
	position: relative;
	width: 32px;
}
.gkMenu > ul div.childcontent-inner {
	background: #c75f2c;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
}
.gkMenu > ul div.childcontent-inner div.childcontent-inner {
	border: 1px solid #d96d38;
}
.gkMenu > ul div.childcontent li {
	border-top: 1px solid #d96d38;	
}
.gkMenu > ul div.childcontent li:hover {
	 background: #d96d38;
}
.gkMenu > ul div.childcontent small {
	color: #f2d5c7;
}
.gkMenu > ul div.childcontent header a {
	border-bottom: 2px solid #d96d38;
}

/* k2.css */

h1 > sup,
h2 > sup {
    color: #c75f2c;
}
.itemImage {
	background: transparent;
	border: 1px solid #ededed;
}
.itemImageCaption {
  	background: #222;
}
.itemAuthorBlock .itemAuthorDetails {
	background: #f8f8f8;
}
h3.titleComments {
    background: transparent;
    border-top: 1px solid #ededed;
}
#itemListLinks li {
    background: url('../images/style3/typography/bullet-square2.png') no-repeat 0 6px;
}
.itemsContainerWrap .itemList figure:hover { 
	border-color: #c75f2c;
}
.k2CalendarBlock table.calendar tr td.calendarTodayLinked {
    background: #c75f2c;
}
.k2TagCloudBlock a {
    background: #c75f2c;
}
.k2TagCloudBlock a:hover {
    background: #333;
}

/* popup */
#gkPopupLogin #login-form input[type="text"],
#gkPopupLogin #login-form input[type="password"] {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
		    border-radius: 0;
}
#gkPopupLogin #form-login-buttons input.button { 
    background: #c75f2c;
}
#gkPopupLogin #form-login-buttons input.button:hover { 
    background: #555;
}