.hwd-module-video-sidebar-container {
 overflow:hidden; 
 position: relative;
}
.hwd-module-video-sidebar-left {
 float:left;
 width:125px;
 position:absolute;
 background:#000;
 height: 100%;
 overflow-y:scroll;
 overflow-x:hidden;
}
.hwd-module-video-sidebar-left-item {
 width:125px;
 margin:2px;
 padding:0px;
 float:left;
}
.hwd-module-video-sidebar-left-item .media-item {
 padding:0;
 margin:0px;
}
/* Support for Scrollbars package **********/
/* Set inactive scrollbars to display none */
.scrollbars.osx ul.scrollbar.inactive { display: none; }

/* No scrollbar buttons */
.scrollbars.osx ul.scrollbar li.scroll.down,
.scrollbars.osx ul.scrollbar li.scroll.up,
.scrollbars.osx ul.scrollbar li.scroll.left,
.scrollbars.osx ul.scrollbar li.scroll.right{
display: none;
}
/* Move the bars a bit from the side and make them a little bit smaller then its wrapper*/
.scrollbars.osx ul.scrollbar.vertical li.scroll.bar-wrapper{
min-width: 7px !important;
right: 2px !important;
top: 5px !important;
bottom: 5px !important;
}
.scrollbars.osx ul.scrollbar.horizontal li.scroll.bar-wrapper{
min-height: 7px !important;
top: 5px !important;
bottom: 5px !important;
}
/* Scrollbar style */
.scrollbars.osx ul.scrollbar li.scroll.bar-wrapper div.scroll.bar{
background: white;
opacity: .5;
border-radius: 5px;
}

